* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: red 2px solid; */
}

body {
    text-align: center;
}

body.homepage {
    color: rgb(70, 37, 0);
    background-color: beige;
}

div.homepage {
    width: 75%;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    background-color: rgba(240, 248, 255, .75);
}

div.homepage ul {
    list-style-type: none;
    padding: 0;
}

div.homepage ul li {
    margin: 10px 0;
}

img.homepage, div.homepage {
    border: rgb(70, 37, 0) 3px solid;
}

body.first-recipe {
    color:rgb(114, 8, 8);
    background-color: rgba(240, 128, 128, .50);
}

div.first-recipe {
    background-color: rgb(248, 211, 216);
}

img.first-recipe, div.first-recipe {
    border: rgb(114, 8, 8) 3px solid;
}

body.second-recipe {
    color: rgb(112, 112, 17);
    background-color: rgb(247, 247, 141);
}

div.second-recipe {
    background-color: lightgoldenrodyellow;
}

img.second-recipe, div.second-recipe {
    border: rgb(112, 112, 17) 3px solid;
}

body.third-recipe {
    color: rgb(3, 77, 3);
    background-color: rgb(178, 240, 178);
}

div.third-recipe {
    background-color: rgb(219, 241, 230);
}

img.third-recipe, div.third-recipe {
    border: rgb(3, 77, 3) 3px solid;
}

img.homepage, img.first-recipe,
img.second-recipe, img.third-recipe,
div.homepage, div.first-recipe,
div.second-recipe, div.third-recipe {
    border-radius: 12px;
}

div.first-recipe, div.second-recipe, 
div.third-recipe {
    width: 85%;
    margin: 16px auto;
    padding: 10px;
}

.first-recipe .list-contain, .second-recipe .list-contain, 
.third-recipe .list-contain {
    width: fit-content;
    text-align: initial;
    margin: auto;
}

.first-recipe ul, .first-recipe ol, 
.second-recipe ul, .second-recipe ol, 
.third-recipe ul, .third-recipe ol{
    padding: 0;
}

.first-recipe li, .second-recipe li, 
.third-recipe li {
    margin: 5px 0;
}